apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: your-dockerhub-username/backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: DB_URI
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: uri
        - name: NODE_ENV
          value: "PRODUCTION"