apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: my-app
type: Opaque
stringData:
  uri: "mongodb+srv://donblezzy:Myschool12345@shopit.z1pjnwt.mongodb.net/ShopIT?retryWrites=true&w=majority&appName=ShopIT"