apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Release.Namespace }}
  labels:
    app: backend
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: {{ .Values.backend.image }}:{{ .Values.backend.tag }}
          ports:
            - containerPort: 5000
          env:
            # Non-sensitive environment variables
            - name: NODE_ENV
              value: "PRODUCTION"
            - name: PORT
              value: "5000"
            - name: FRONTEND_URL
              value: {{ .Values.backend.env.FRONTEND_URL | quote }}
            - name: DB_LOCAL_URI
              value: {{ .Values.backend.env.DB_LOCAL_URI | quote }}
            # Sensitive environment variables from secret
            envFrom:
              - secretRef:
                  name: backend-secret
          readinessProbe:
            httpGet:
              path: /api/health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
